<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <title>{{ data['name'] }}'s Resume</title>
    <base href="{{ data['url'] }}/" />
    <link rel="canonical" href="{{ data['url'] }}" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <meta name="description" content="{{ data['headline'] }}" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <!-- Open Graph -->
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ data['name'] }}'s Resume" />
    <meta property="og:description" content="{{ data['headline'] }}" />
    <meta property="og:url" content="{{ data['url'] }}" />
    <meta property="og:site_name" content="{{ data['name'] }}'s Resume" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="manifest" href="/site.webmanifest" />
    <link rel=icon href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/svgs/solid/i.svg>
    
    <style type="text/css">
        {{ styles }}
    </style>

</head>

<body>
    <div id="cv">
        <div id="heading">
            <div id="name">
                <h1>{{ data['name'] }}</h1>
                <h2 id="headline">{{ data['headline'] }}</h2>
            </div>
            <div id="heading_extra">
                <div id="contact_details">
                    <ul>
                        <li>
                            <i class="ph ph-envelope"></i>
                            <a href="mailto:{{ data['contact']['email'] }}">
                                {{ data['contact']['email'] }}
                            </a>
                        </li>
                        {% if 'web' in data['contact'] %}
                        <li>
                            <i class="ph ph-globe-hemisphere-west"></i>
                            <a
                                href="{{ data['contact']['web']['url'] }}">{{ data['contact']['web']['title'] }}</a>
                        </li>
                        {% endif %}
                        {% if 'github' in data['contact'] %}
                        <li>
                            <i class="ph ph-github-logo"></i>
                            <a
                                href="https://github.com/{{ data['contact']['github'] }}">github.com/{{ data['contact']['github'] }}</a>
                        </li>
                        {% endif %}
                        {% if 'location' in data['contact'] %}
                        <li>
                            <i class="ph ph-map-pin"></i>
                            <a
                                href="{{ data['contact']['location']['url'] }}">{{ data['contact']['location']['title'] }}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="other_formats">
            <ul>
                {% if 'pdf_link' in data %}
                <li><a href="{{ data['pdf_link'] }}"><img
                        src="assets/img/file-pdf-regular.png" alt="PDF" class="icon" /></a><a
                        href="{{ data['pdf_link'] }}">Pdf</a></li>
                {% endif %}
                {% if 'docx_link' in data %}
                <li><a href="{{ data['docx_link'] }}"><img
                        src="assets/img/file-word-regular.png" alt="Word" class="icon" /></a><a
                        href="{{ data['docx_link'] }}">Docx</a></li>
                {% endif %}
                {% if 'markdown_link' in data %}
                <li><a href="{{ data['markdown_link'] }}"><img
                        src="assets/img/markdown-brands.png" alt="Markdown" class="icon" /></a><a
                        href="{{ data['markdown_link'] }}">Md</a></li>
                {% endif %}
                {% if 'txt_link' in data %}
                <li><a href="{{ data['txt_link'] }}"><img
                        src="assets/img/file-alt-solid.png" alt="Plain Text" class="icon" /></a><a
                        href="{{ data['txt_link'] }}">Txt</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="resume_content">
            <section>
                <h2 id="summary">Summary</h2>
                <div class="section_content">
                    <p align="justify">{{ data['summary'] }}</p>
                </div>
                <div class="clear"></div>
            </section>
            {% if 'experience' in data %}
            <section>
                <h2 id="experience">Experience</h2>
                <div class="section_content">
                    {% for job in data['experience'] %}
                    <article class="job">
                        <h3 class="position">{{ job['title'] }} at {{ job['org'] }}</h3>
                        <p><strong>{{ job['start'] }} - {{ job['end'] }}</strong></p>
                        <p><em>{{ job['location'] }}</em></p>
                        <ul>
                            {%- for detail in job['details'] %}
                              <li>{{ detail }}</li>
                            {%- endfor %}
                        </ul>
                    </article>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </section>
            {% endif %}
            {% if 'projects' in data %}
            <section>
                <h2 id="experience">Projects</h2>
                <div class="section_content">
                    {% for project in data['projects'] %}
                    <article class="job">
                        <h3 class="position">{{ project['title'] }}</h3>
                        <p>{{ project['description'] }}</p>
                        <p></p>
                        <p><strong>Technologies Used:</strong></p>
                        <ul>
                            {%- for tech in project['tech'] %}
                              <li>{{ tech }}</li>
                            {%- endfor %}
                        </ul>
                        <p></p>
                        <p><strong>GitHub Repository:</strong></p>
                        <ul>
                            {%- for github_link in project['github'] %}
                              <li><a href="{{ github_link }}">{{ github_link }}</a></li>
                            {%- endfor %}
                        </ul>
                    </article>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </section>
            {% endif %}
            {% if 'skills' in data %}
            <section>
                <h2 id="skills">Skills</h2>
                <div class="section_content">
                    <p>
                    {%- for skill in data['skills']['products'] -%}
                        {{ skill }}
                        {%- if not loop.last %} &middot; {% endif %}
                    {%- endfor %}
                    </p>
                </div>
                <div class="clear"></div>
            </section>
            {% endif %}
        </div>
        <div id="footer">
            <div id="footer_left">
                <div id="foot_contact">
                    <a href="mailto:{{ data['contact']['email'] }}"><span>{{ data['contact']['email'] }}</span></a>
                </div>
                <div id="foot_source">
                    <a href="{{ data['repo']['url'] }}"><span>Resume source on GitHub</span></a><br />
                </div>
            </div>
            <div id="footer_right">
                <div id="foot_copyright">
                    <span>&copy; {{ data['year'] }} {{ data['name'] }}</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
